#root {
  max-width: 325px;
  max-height: 96.5vh;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text-primary);
  margin-top: 50px;
}

.app-header {
  text-align: center;
  margin-bottom: 1rem;
}