:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-primary: #000000;
  --background-primary: #ffffff;
}

.dark {
  --text-primary: #f2f2f7;
  --background-primary: #000000;
}

body {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

::-webkit-scrollbar{ width :0.6vh; height: 0.6vh; }
::-webkit-scrollbar-thumb {
  background: rgba(88, 88, 88, 0.39);
  border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbaba;
}