html, body {
    width: 295px;
    height: 575px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.phone {
    overflow-y: auto;
}

button {
    width: 100px;
    height: 50px;
    background-color: rgb(35, 105, 122);
    cursor: pointer;
}
